
$dark: #16191c;
$dark-x: #1e2126;
$light: #ffffff;
$azul: #134074;
$azulOscuro: #0B2545;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conte {
    width: 100vw;
    height: 100vh;
    background-color: $dark-x;
    display: flex;
    align-items: center;
    height: 100vh;
}

.contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.imagen-formulario{
    background-position: center center;
    background-size: cover;
    height: 200px;
    flex: 0 0 calc(60%);
    position: relative;
    
}
/*.imagen-formulario::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );
   
}*/

.imagen-formulario img {
    height: 100%;
    width: 100%;
}

@media(min-width:768px){
    .imagen-formulario{
        height: auto;
        background-position: right;
    }

}
@media(min-width:1200px){
    .imagen-formulario{
        background-position: center;
    }
}

@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 50px;
    background-color: $dark;
}
.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: $light;
}
.texto-formulario h2{
    font-size: 40px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.password-olvidada a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background-color: $dark;
    border-bottom: 1px solid $light;
    border-right: none;
    color: $light;
}
.input input[type="submit"]{
    background-color: $azulOscuro;
    color: $light;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
    margin-bottom: 20px;
}
.input button:hover{
    cursor: pointer;
    background-color: $azul;
}

.input .boton {
    position: relative;
    width: 73%;
    height: 50px;
    left: 60px;
    //top: 50px;
}

span {
    color: $light;
}

.input a {
    text-decoration: none;
    color: $light;
    cursor: pointer;
}

span {
    margin-left: 60px;
}

.input a:hover {
    color: lightblue;
    text-decoration: underline;
}